//Imports
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Quattrocento|EB+Garamond|Judson);
@import 'views/layout/layout.lessimport';
@import 'views/layout/header.lessimport';
@import 'views/layout/nav.lessimport';

@import 'views/pages/home.lessimport';
@import 'views/pages/projects.lessimport';
@import 'views/pages/testimonials.lessimport';
@import 'views/pages/history.lessimport';
@import 'views/pages/contact.lessimport';

@import 'views/widgets/carousel.lessimport';

// Util

#text {
  .dark() {
    text-weight: bold;
    color: #000;
  }
}

#effects {
  .raised() {
    background: white;
    padding: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  }
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
