<template name="contact">
  <div class="background"></div>
  <div class="contacts">
    <div class="info">
      <p>Hastings Fine Homes, Inc</p>
      <p>General Contractor</p>
      <p>License #973013</p>
      <p>info@hastingsfinehomes.com</p>
    </div>
    <div class="addresses">
      <div class="address">
        <p>63 Bovet Road #404</p>
        <p>San Mateo, Ca 94402</p>
        <p>650.350.1066</p>
      </div>
      <div class="address">
        <p>696 San Ramon Valley Blvd. #507</p>
        <p>Danville, Ca 94526</p>
        <p>925.838.0108</p>
      </div>
    </div>
    <div class="contact">
      <p>Tom Hastings</p>
      <p>President</p>
    </div>
  </div>
</template>