<template name="history">
<aside class="sidebar">
  <img src="/images/tom_sm.jpg" alt="Tom Hastings">
</aside>
    
<article class="history">
  <p>
    You might say building is in my DNA.  Some of my earliest memories are of construction sites.  At a very young age, I started helping to keep our jobsites free of construction debris.  My Dad, Doyle Hastings started building custom homes in 1970, the year before I was born.  His father and his three brothers were all carpenters and then contractors and for many years worked with us.

  </p>
  <p>
    Summers at home from UC Irvine were spent doing project management for Dad’s company.  After graduation, I spent a few years living and working in Japan.  During this time, while home on vacation, I met my beautiful wife, Cori.  When we went to Japan to finish up my contract, we both knew that our real home, the San Francisco Bay area was waiting for us.  I had many options at this point, but it seems I always knew that building fine homes for happy families was my dream.   Cori and I have 9 year old twins, Grant and Chelsea. 
  </p>
  <p>
    Generational Integrity.  We are living our dream by building yours.
  </p>
  <aside class="signature">
    Tom Hastings<br />
    <strongCGBP<strong>
  </aside>
</template>