<template name="history">
<aside class="sidebar">
  <img src="/images/tom.jpg" alt="Tom Hastings">
</aside>
    
<article class="history">
  <p>
     We at The Hastings Company have been specializing in custom home construction for more than 30 years.  We began as a small, family-based company and, as we’ve expanded, have maintained the personalized relationships with our clients that are so important to us.  It is our belief that quality construction on a reasonable budget will satisfy clients and will see us through good markets and bad.  Our Build-to-Suit and Speculative-Home clients appreciate our ability to work within their budgets and schedules to provide top-quality homes.  We have enjoyed working in the finest neighborhoods on the premier properties of Northern California.
  </p>
  <p>
    We look forward to helping you achieve your construction dreams.
  </p>
  <aside class="signature">
    Tom Hastings<br />
    <strongCGBP<strong>
  </aside>
</template>