<template name="testimonials">
  <section class="testimonials">
    <article class="intro">
      <p>
        Great client relationships are what we value most at Hastings Fine Homes. It is always humbling to have past clients who welcome you back into their homes and  trust you with their best friends.We believe that our friends become clients and our clients become friends. Here are a few words from our friends...
      </p>
    </article>
    <article class="testimonial">
      <p>
        I have used Tom Hastings and Hastings Fine Homes as a resource for clients and my own use for several years now, and his knowledge of the construction and design process is unbeaten in the industry.  Tom has a saying that he “saves owners from themselves”, meaning he helps people make smart design and construction decisions that will meet their needs and be salable later.  I work primarily in the premium markets of North Palo Alto, Portola Valley and Woodside, so bad design or functionality decisions can mean hundreds of thousands of dollars of lost equity down the road.
      </p>
      <p>
        I recently sold an estate in Woodside to clients relocating from LA.  The house required significant renovation to address defects in the original construction, plus changes to meet their needs.  Even before they purchased the house, I brought in Tom Hastings and his team.  He gave good input on their vision for changes and managed a team of his partners and subcontractors and my clients’ designers from LA.  Even with a large group of vendors and workers separated by 400 miles, Hastings was able to complete the project on time and under budget.  This included dealing with the Town of Woodside for design review and permitting. Woodside has a reputation for being difficult to deal with, but Tom’s approach and reputation made things go smoothly for my clients.        
      </p>
      <p>
        Whether it is for renovations to historic homes, major remodels, or new construction, I never hesitate to introduce my pickiest clients to Tom Hastings and Hastings Fine Homes for their building needs.
      </p>
      <aside class="signature">
        Chris Iverson,<br />
        Dreyfus Sotheby’s International Realty      
      </aside>
    </article>
    <article class="testimonial">
      <p>
        Every project we’ve done with Tom and his team has been a delight and has turned out better than we could have hoped.  He sticks to deadlines, personally talks through every potential issue, and basically runs an extremely tight ship while being an extremely nice person to work with.
      </p>
      <aside class="signature">
        Chloe Warner,<br />
        Redmond Aldrich Design     
      </aside>
    </article>
    <article class="testimonial">
    <p>
      What we started as a kitchen and master suite update turned into the renovation of every room and system in our home.  It was a pleasure working with Tom throughout the process.  With his technical knowledge and professional, friendly demeanor, we felt very confident with Tom at the helm.  I was consistently impressed with his communication and accessibility.  He understood our priorities, our aesthetic and our budget.  Tom helped us make sound decisions, presenting pros and cons of each option.  He adeptly navigated the “unexpecteds” that happen with every renovation. Our expectations were exceeded.  We can’t recommend Tom highly enough.
    </p>
    <aside class="signature">
      Jen,<br />
      Hillsborough
    </aside>
    </article>
    <article class="testimonial">
      <p>
        After our experience with Hastings Fine Homes, I can give him my highest recommendation.  Tom handled a substantial remodel of a 3,000 square foot space in our home and we’ve been delighted with both the process and the result.  We wanted the new space to harmonize with the Spanish Revival aesthetic of the other two floors while introducing some more contemporary elements;  Tom grasped our intention, and our architect’s from the start, and was able to make suggestions along the way that led to an even better outcome than we envisioned.  Like Tom himself, the team he assembled was professional, expert, and easy to work with.
      </p>
      <aside class="signature">
        Peter,<br />
        Stanford
      </aside>
    </article>
  </section>
</template>