<template name="carousel">
{{#with photos}}
  <div class="carousel">
    {{#unless count}}
      <div class="spin-container">
        {{> spinner}}
      </div>
    {{else}}
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {{#times count}}
          <li data-target=".carousel" data-slide-to="{{this}}"></li>
        {{/times}}
      </ol>

      <div class="carousel-inner">
        {{#each_with_index this}}
        <div class="item {{#if first index}}active{{/if}}">
            <img src="{{url_l}}" title="description"/>
            <div class="carousel-caption">{{description._content}}</div>
          </div>
        {{/each_with_index}}
      </div>
    {{/unless}}
  </div>
{{/with}}
</template>

