<template name="splitview">
  {{#with photos}}
    {{#with before}}
    <div class="container" style="height:{{../minheight}}px;">
      <a class="fancybox" href="{{url_l}}" rel="{{../../this}}">
        <img src="{{url_m}}" style="height:{{../minheight}}px;" alt="{{description._content}}">
      </a>
    </div>
    {{/with}}
    {{#with after}}
    <div class="container" style="height:{{../minheight}}px;">
      <a class="fancybox" href="{{url_l}}" rel="{{../../this}}">
        <img src="{{url_m}}" style="height:{{../minheight}}px;" alt="{{description._content}}">
      </a>
    </div>
    {{/with}}
  {{/with}}
</template>
